---
import styles from "./nav.module.scss";

export const prerender = true;
---

<nav class={styles.nav}>
  <a href="/">CT Calc</a>
  <a href="/about">About</a>
  <a target"_blank" href="https://github.com/nicodes/ct-calc">Github</a>
</nav>
