.nav {
  background-color: white;
  height: 50px;
  padding: 1rem 2rem;
  border-bottom: 3px solid grey;

  display: flex;
  align-items: center;
  gap: 1rem;

  // vertical dividers
  & > :not(:last-child) {
    padding-right: 1rem;
    border-right: 2px solid grey;
  }
}
