---
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>CT Calc</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
</style>
