---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout>
  <main>
    <h1>CT Calc</h1>
    <Form />
  </main>
</Layout>

<style>
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px;
  }

  h1 {
    margin-bottom: 24px;
  }
</style>
