@import '../../styles/colors.scss';
.calculator {
	width: min-content;
	max-width: 90%;
	margin-right: auto;
    margin-left: auto;
    height: 100%;
    
	form {
        display: grid;
        grid-row-gap: 20px;
        padding: 20px;
        background-color: $lightgrey;
		border: 2px solid $grey;
        border-radius: 5px;
        
        // mobile screen
        @media (max-width: 600px) {
            grid-template-columns: min-content;
        }

        // desktop screen
        @media (min-width: 601px) {
            grid-template-columns: min-content min-content;
            .label-container {
                margin-right: 10px;
            }

            .buttons-container{
                grid-column-start: 2;
            }

            .divider {
                grid-column: span 2;
            }
        }

        
        span {
            white-space: nowrap;
        }

        input[type='number'], input[type='text'], select {
            border: 1px solid $grey;
            border-radius: 5px;
            height: 20px;
            padding: 1px 8px 1px 8px;
        }
        
        select {
            height: 24px;
        }

        input[type='checkbox'] {
            margin: 0 10px 0 0;
        }

        .label-container {
            display: flex;
            align-items: center;

            // error icon
            img {
                margin: auto 5px auto 0;
            }

            .kebab {
                text-decoration: line-through;  
            }
        }

        .buttons-container {
            display: flex;
            justify-content: flex-end;

            button {
                border-radius: 5px;
                padding: 7px 20px 7px 20px;
    
                &.submit {
                    color: $white;
                    background-color: $blue;
                    border: 1px solid $blue;

                    &:disabled {
                        background-color: $grey;
                        border: 1px solid $grey;
                    }
                }

                &.clear {
                    margin-left: 10px;
                    color: $black;
                    background-color: $white;
                    border: 1px solid $grey;
                }
            }
        }

        .divider {
            background-color: #e3e3e3;
            height: 3px;
        }
	}
}
