.style {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;

    nav{
        background-color: #e3e3e3;
        height: 50px;
        display: grid;
        grid-template-columns: min-content min-content auto; 
        padding-left: 20px;

        a {
            display: flex;
            white-space: nowrap;
            color: black;
            text-decoration: none;
            height: 100%;
            align-items: center;
            padding: 0 10px;

            &:first-child {
                font-size: 22px;
            }

            &.active {
                text-decoration: underline;
            }

            &:hover {
                background-color: lightgrey;
            }
        }
    }
}
