<header>
  <div>
    <a href="/">
      <img src="/assets/ctcalc-icon.png" alt="ctcalc logo" />
    </a>
    <a href="/">CT Calc</a>
    <a href="/about">About</a>
  </div>
</header>

<style>
  header {
    background-color: #f5f5f5;
    border-bottom: 2px solid #666666;
  }

  header > div {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px;

    display: flex;
    align-items: center;
    gap: 24px;
  }

  img {
    height: 48px;
  }
</style>
