.form {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 32px;

  gap: 1rem;
  margin-top: 2rem;

  // desktop view
  @media only screen and (min-width: 480px) {
    grid-template-columns: auto auto;

    button {
      grid-column: 2;
    }

    label,
    .result {
      display: flex;
      justify-content: right;
    }
  }
}

.result {
  font-weight: bold;
}

.divider {
  grid-column: span 2;
  height: 2px;
  background-color: grey;
  border-radius: 4px;
}
