.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  .result {
    display: flex;
    justify-content: right;
  }
}

.result {
  font-weight: bold;
}

.divider {
  grid-column: span 2;
  height: 2px;
  background-color: white;
  border-radius: 4px;
}
