---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav/Nav.astro";
import styles from "./index.module.scss";

export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <Nav />
  <main class={styles.main}>
    <h1>About</h1>
  </main>
</Layout>
