---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import styles from './index.module.scss';
---

<Layout title="Welcome to Astro.">
	<main class={styles.main}>
		<h1>CT Calc</h1>
	</main>
</Layout>
