---
import styles from "./header.module.scss";

export const prerender = true;
---

<header class={styles.header}>
  <a href="/">CT Calc</a>
  <a href="/about">About</a>
  <a target"_blank" href="https://github.com/nicodes/ct-calc">Github</a>
</header>
